/* Empty. Add your own CSS if you like */

body {
    margin: 0; /*font-family:'open_sansregular', Arial, Helvetica, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background: #111b1c;
    font-size: 18px;
    color: #000;
}

.clr {
    clear: both;
}


@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff'),
    url('../fonts/OpenSansRegular.ttf') format('truetype'),
    url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight.eot');
    src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
    url('../fonts/OpenSansLight.woff2') format('woff2'),
    url('../fonts/OpenSansLight.woff') format('woff'),
    url('../fonts/OpenSansLight.ttf') format('truetype'),
    url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'Lobster1_4';
    src: url('../fonts/Lobster1_4.eot');
    src: url('../fonts/Lobster1_4.eot') format('embedded-opentype'),
    url('../fonts/Lobster1_4.woff2') format('woff2'),
    url('../fonts/Lobster1_4.woff') format('woff'),
    url('../fonts/Lobster1_4.ttf') format('truetype'),
    url('../fonts/Lobster1_4.svg#Lobster1_4') format('svg');
}

body {
    margin: 0; /*font-family:'open_sansregular', Arial, Helvetica, sans-serif;*/
    font-family: 'OpenSansRegular';
    padding: 0;
    font-size: 14px;
    color: #000;
}

.view-background{
    background: #ffffff;
}


.promotional{
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}

.promotional .skip{
    color: #811D03;
    display: block;
    padding: 10px;
}

.promotional .promotional-contant{
    postition:relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.promotional .img-slider-content{
    margin: 15px auto;
    text-align: center;
}

.promotional .slider{
    height: 339px;
}

.promotional .descrp{
    font-size: 11px;
}

.active-button{
    color: white !important;
    background-color: #903450 !important;
    border: 0 !important;
}
.promo-button{
    border: 1px solid #000001;
    color:#010202;
    border-radius: 5px;
    font-size: 20px;
    font-family: Lobster1_4;
    background: inherit;
    min-width: 138px;
}

.promo-button.activated{
    background: inherit;
}

.button-set{
    margin: 15px;
}

.separator{
    margin: 8px 0;
}

.social img{
  width: 200px;
}

a{text-decoration: none;color: #000000}
.float-right{float: right}
.clr{
    clear: both;
}


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    height: 35px;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.sidemenu-background{
    color: #ffffff;
    background: #8e334f;
    background: -moz-linear-gradient(top,  #8e334f 0%, #4c1929 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e334f), color-stop(100%,#4c1929));
    background: -webkit-linear-gradient(top,  #8e334f 0%,#4c1929 100%);
    background: -o-linear-gradient(top,  #8e334f 0%,#4c1929 100%);
    background: -ms-linear-gradient(top,  #8e334f 0%,#4c1929 100%);
    background: linear-gradient(to bottom,  #8e334f 0%,#4c1929 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e334f', endColorstr='#4c1929',GradientType=0 );

}

.sidemenu-background .list{
    padding:10px;
}

.sidemenu-background .list .item{
   background: none;
   border:0;
   padding: 0;
}

.sidemenu-background .list .item .badge {
    color: #ffffff;
    border-radius: 50%;
    background: #537703;
    height: 30px;
    width: 30px;
    line-height: 26px;
    right: 10px;
    font-size: 12px;
    margin: auto;
    display: block;
    text-align: center;
    top:9px;
}

.sidemenu-background a i{
    font-size: 24px;
    vertical-align: 2px;
    line-height: 28px;
}
.sidemenu-background .item{
    padding: 15px 5px;
}

.sidemenu-background .row{
    padding: 5px 0;

}
.sidemenu-background .row .col-20{
    text-align: center;
}

.sidemenu-background .row div:last-child{
    margin-top:4px;
}
.sidemenu-background .user{
    padding: 15px;
    border-bottom: 1px solid #7a2942;
}
.sidemenu-background .user .image-container{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.sidemenu-background .user .image-container img{
    width: 100%;
 }

.sidemenu-background .user .info{
    display: inline-block;
    vertical-align: middle;
}

.sidemenu-background .user .info .user-name{
    color: #ffffff;
    font-weight: normal;
    line-height: 31px;
    white-space: nowrap;
    display: block;
    font-size: 20px;
}

.sidemenu-background .user .info a{
    color: #F3ac00;

}

.light-background{
    background: #ffffff !important;
    color: #000000 !important;
}

.bar-footer i{
    font-size: 20px;
}
/* Login Screen */
.login-container{
    background: url(../images/bg-login.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    padding: 105px 40px;
}

.login{
    text-align: center;
    color: #000000;
}

.login .input-container{
    background: url("../images/bg-login-field.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left bottom;
}

.login .remember-me{line-height:33px;margin-top:20px}

.login .remember-me span{
    float: left;
    width: 130px;
    text-align: left;
    color: #73696A;
}

.login .button-container{
    margin-top:30px ;
}



.login .button-container div{
    margin-top:30px ;
}

.login ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000000;
}

.login select{
    width: 100%;
    background: none;
    border: 0;
    height: 35px;
    margin-left: -5px;
}

.login .logo{
    width: 140px;
}

.login .form-content{
    margin-top: 18px;
}
/*header */
.beauty-header{
    background: #df6174;
    background: -moz-linear-gradient(top,  #df6174 0%, #903450 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df6174), color-stop(100%,#903450));
    background: -webkit-linear-gradient(top,  #df6174 0%,#903450 100%);
    background: -o-linear-gradient(top,  #df6174 0%,#903450 100%);
    background: -ms-linear-gradient(top,  #df6174 0%,#903450 100%);
    background: linear-gradient(to bottom,  #df6174 0%,#903450 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df6174', endColorstr='#903450',GradientType=0 );
    color:#ffffff;
    border: 0;
}

.beauty-header .button{
    color: #ffffff;
}

.beauty-header .search-header{
    background: #90344f;
    position: absolute;
    padding: 10px;
    left: -10px;
    top: 22px;
    border-radius: 0;
    right: -10px;
}

.beauty-header .search-header .item-input{
    height: 30px;
    padding: 4px 0 4px 16px;
}
.beauty-header .buttons .bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before{
    font-size: 25px;
}

.beauty-header.header-transparent .ion-ios-arrow-back{
    color: #ffffff;
}

.beauty-header.header-transparent{
    background: none;
    border: 0;
    color: #ffffff;
}

.beauty-header.header-transparent h4{
    color: #ffffff;
}

.beauty-header .rating{
    width: 27px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    background: #537703;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
}

.beauty-header img{
    width: 100px;
    margin-top: 8px;
}

.beauty-header .small-icon{
    width: 22px;
    position: absolute;
    left: 29px;
    bottom: 12px;
}

.beauty-header h3{
    font-size: 18px;
    margin-top: 10px;
}
.beauty-header .flter-right {
    content: url('../images/icon-filter.png');
    width: 25px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.beauty-header.bar .title{
    line-height: 41px;
    font-size: 14px;
}

/*Footer*/
.beauty-footer{
    background: #FF7B88;
    color: #ffffff;
}
.beauty-footer .button-full{
    background: inherit;
    border: 0;
    color: #ffffff;
    font-size: inherit;
    margin-top:5px;
}

.beauty-footer .title img{
    width: 16px;
    vertical-align: middle;
}


/* Tab*/
.tabs-striped .tab-item {
    margin-top: 1px;
    font-size: 16px;
    max-width: 700px;
    font-weight: 600;
    border: 1px solid #ffffff;
    border-top: 0;
    color: #030200;
}


.tabs-striped > .tabs
{
    font-size: 16px;
    background: #ffd0d6;
}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated{
    color: #FD7889;
    border-width: 5px 0 0 0;
    border-color:#FF7C87;
}

/* todays Deal*/
.todays-deal .item{
    padding: 0;
    margin-bottom: 1px;
}

.deal-heading{
    text-transform:uppercase;
    font-size: 16px;
    text-align: center;
}

.todays-deal .item .mask{
    background: rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
}
.todays-deal .item .mask .category{
    color: #ffffff;
    display: inline-block;
    vertical-align:middle;
    line-height: 10px;
    text-transform: capitalize;
}
.todays-deal .item .mask .category h2{
    max-width:200px ;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.todays-deal .item .mask .category .bookmark{
    color: #5F8904;
    font-size: 35px;
    position: absolute;
    right: 20px;
    top: -3px;
    padding: 5px 6px 5px 20px;
}

.todays-deal .item .mask .category .unbookmark{
    color: #FF253f;
}

.todays-deal .item .mask .category span{
    font-size: 11px;
}
.todays-deal .item .mask .cat-icon{
    background: #ffffff;
    height: 35px;
    width: 35px;
    display: inline-block;
    border-radius: 50%;
    vertical-align:-16px;
    margin-right: 10px;
}


.todays-deal  .item-complex .item-content, .item-radio .item-content{
    position:static;
    z-index: 0;
    padding: 0;
    border: none;
}
.todays-deal .item .mask h2{
    color:#89BD31
}

.todays-deal .item .mask img{
    width: 100%;
}

.todays-deal .item img{
    width:100%;
    height: auto;
}

.category-icon{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 9;
    width: 50px;
}

.home-tab .img-slider-content{
    text-align: center;
}


.home-tab .slider-pager .slider-pager-page{
    color:inherit;
    font-size: 10px;
}
.home-tab .slider-pager .slider-pager-page.active{
    font-size: 10px;
    color: #FF7B88;
}

.home-tab .bottom-container{
    background: #ffffff;
}

.home-tab .bottom-container .bottom-heading{
    padding: 35px 10px 5px 10px;
    font-family: Lobster1_4;
    font-size: 18px;
    border-bottom: 1px solid #D3D3D3;
}

.home-tab .bottom-container .category{
    padding: 10px;
}

.home-tab .item{
    border-left: 0;
    border-right: 0;
}

.home-tab .item:first-child {
    border-top: 0px;
}

.home-tab .item img{
    position: absolute;
    width: 40px;
    bottom: 5px;
    right: 5px;
}

/*Saloon List*/
.saloon-list .item{
    border: 0;
    margin-bottom:0;
    padding: 2px;
}

.saloon-list .item .img-container{
    position: relative;
    height: 165px;
    overflow: hidden;
 }


.saloon-list .item .img-container img{
    width:100%;
}

.saloon-list .item .list-content{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    bottom: -3px;
    background: RGBA(0,0,0,0.8);
    color: #FFFFFF;
    padding: 8px 12px;
    line-height: 12px;
}
.saloon-list .item .distance{
    color: #c1c1c2;
}
.saloon-list .item .list-content i{
    margin-right: 5px;
    vertical-align: -2px;
    font-size: 14px;
}

.saloon-list .item .list-content h2{
    color: #89BD31;
    font-weight: normal;
}

.saloon-list .item .fev{
    position: absolute;
    right: 15px;
    bottom: 12px;
    color: #FF253F;
    font-size: 22px;
    z-index: 5;
}

.saloon-list .item .un-feb{
    color: #797979;
}

.saloon-list .item .offer{
    position: absolute;
    right: 58px;
    bottom: 12px;
    font-size: 25px;
    color: #797979;
    z-index: 5;
}

.saloon-list .item .offer strong{
    font-size: 12px;
    vertical-align: 1px;
}

.saloon-list .item .rating{
    position: absolute;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    right: 8px;
    top: 8px;
    background: #5F8904;
    padding: 2px 7px;
    line-height: 16px;
}

.saloon-list .item p{
    color: #ffffff;
}
.saloon-list .item .list-content div{
    font-size: 13px;
    color: #656563;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.saloon-list .item h2{
    font-weight: 700;
    margin-right: 10px;
}

.saloon-list .item-complex .item-content, .item-radio .item-content {
     padding: 0;
     border: none;
     position: static;
     background-color:inherit;
}

.filter-category{
    z-index: 9999;
    position: absolute;
    bottom: 20px;
    left: 0px;
    background: #FF253F;
    color: #ffffff;
    border-top-right-radius: 30px ;
    border-bottom-right-radius: 30px ;
    padding: 8px 15px 8px 10px;
    font-size: 22px;
    text-align: center;
    zoom: 100%;
}

.filter-list-icon{
    position: absolute;
    bottom: 20px;
    z-index: 9999;
    right: 0;
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px ;
    padding: 8px 8px 8px 15px;
    font-size: 22px;
    text-align: center;
    background: #3f8204;
    color: #ffffff;
    zoom: 100%;
}

/*Saloon Details*/
.saloon-detail .saloon-info{
     position: relative;
 }

.saloon-detail .profile-container{
    height: 250px;
    position: relative;
}
.saloon-detail .profile-container img{
    height: 100%;
    width: 100%;
}

.saloon-detail .profile-container .mask{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.saloon-detail .profile-container .mask div {
    text-align: center;
    color: #ffffff;
    margin-top: 25%;
}

.saloon-detail .profile-container .mask div h4{
    color: #75a30d;
    margin: 0;
    text-shadow: 0 0 6px #000000;
    font-weight: bold;
}

.saloon-detail .profile-container .mask div p{
    font-size: 12px;
}

.saloon-detail .saloon-info .address{
    width: 300px;
    font-style: italic;
    color: #626262;
}
.saloon-detail .saloon-info .icon-container{
    padding: 3px;
    font-size: 16px;
}
.saloon-detail .saloon-info .icon-container img{
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.saloon-detail .map-container{
    position: relative;
    height: 200px;
    width: 100%;
}
.saloon-detail .map-mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.saloon-detail .mask .fav{
    display: inline-block;
    border-right: 1px solid #8b8b8b;
    padding:0 15px;
}

.saloon-detail .mask .fav img{
    width: 25px;
    height: auto;
}

.saloon-detail .saloon-info .checkin{
    position: absolute;
    width: 100px;
    top: 16px;
    right: 0;
}

.saloon-detail .profile-container .mask .map {
    font-size: 25px;
    display: inline-block;
    vertical-align: 2px;
    margin-left: 15px;
}

.saloon-detail .contact-details {
    padding: 10px 0;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    color: #626262;
}

.saloon-detail .rating-container{
    text-align: center;
}

.saloon-detail .rating-container h6{
    color: #666666;
}

.saloon-detail .descrp{
    border-top: 1px solid #D2D2D2;
    padding-top: 10px;
    text-align: justify;
}

#map {
    width: 100%;
    height: 200px;
}


#mapList {
    height:100%;
    box-shadow:0 3px 25px black;
}

.scroll {
    height: 100%;
}

.saloon-detail .stylest-list{
   background: #582633;
    color:#ffffff;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.saloon-detail .stylest-list h3 {
    color: #ffffff;
    font-weight: normal;
    border-color: #744b55;
}

.saloon-detail h3{
    font-family: Lobster1_4;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}


.saloon-detail .stylest-list .scroll-container {
    width: 100%;
    overflow-x: auto;
    overflow-y:hidden;
}

.saloon-detail .stylest-list .images-list .image-item{
    display: inline-block;
    font-weight: 600;
    position: relative;
    height: 140px;
    width: 140px;
    margin-right: 16px;
    border: 1px solid #c28192;
    border-radius: 50%;
    padding: 3px;
}

.saloon-detail .stylest-list .images-list .image-item img{
    max-width: 140px;
    max-height: 140px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    width: 100%;
}

/*.saloon-detail .stylest-list .images-list .image-item .border-container{
    width: 160px;
    height: 160px;
    border: 1px solid #ffffff;
    position: absolute;
    top: -5px;
    left: 5px;
    border-radius: 50%;
}*/

.saloon-detail .hours-timeing{
    text-align: center;
}

.saloon-detail .hours-timeing h3{
    border-bottom: 1px solid #D2D2D2;
}
.saloon-detail .hours-timeing .hours-container .row-hours{
    font-weight: 600;
    height: 14px;
    margin-bottom: 20px;
 }


.saloon-detail .hours-timeing .hours-container .row-hours .date{
    float: left;
    width: 29%;
    background: #DCDCDC;
    padding: 3px;
    border-radius: 5px;
}
.saloon-detail .hours-timeing .hours-container .row-hours .date.dark{
    background: #000000;
    color: #ffffff;
}

.saloon-detail .hours-timeing .hours-container .row-hours .timeing{
    float: left;
    width: 52%;
    text-align: left;
    line-height: 24px;
    padding-left: 3px;
}

.saloon-detail .hours-timeing .hours-container .row-hours .line{
    float: left;
    width: 19%;
}

.saloon-detail .hours-timeing .hours-container .row-hours .line div{
    border-bottom: 1px solid #d1d2d3;
    position: relative;
    bottom: 8px;
}



.saloon-detail .parent-item  .button-icon .icon:before, .button-icon.icon:before{
    font-size: 20px;
}
.saloon-detail .parent-item img{
    width: 100%;
    float: right;
}

.saloon-detail .child-items{
    background: #343434;
    color: #ffffff;
}

.saloon-detail .child-items .facility{
    white-space: normal;
}

.saloon-detail .child-items .col-price{
    background: #4d4d4d;
}

.saloon-detail .child-items  .input-price{
    border: 0;
    padding: 5px;
    width: 70px;
    border-radius: 5px;
    z-index: 9;
    position: relative;
    color: #8b8b8b;
}
.saloon-detail .child-items button{
    background: #537703;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    width: 37px;
    margin-left: -9px;
}

.saloon-detail .child-items .checkbox{
    padding: 5px;
}
.saloon-detail .parent-item{
    border: 0;
    padding: 5px;
}

.saloon-detail .parent-item .button{
    line-height: 0;
    min-height: 47px;
    vertical-align: middle;
    width: 30px;
}

.saloon-detail .parent-item .cat-icon{
    background: #e5e5e5;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding: 5px;
    text-align: center;
    float: right;
}

/*appointment */
.appointment .image-container{
    text-align: center;
    width: 180px;
    margin: 10px auto 0 auto;
}

.appointment .image-container img{
    width: 100%;
}

.dark{
    background: #000000;
    color: #ffffff;
}

.appointment .payment-type-container{
    text-align: center;
}
.appointment .payment{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #2B2F31;
    position: relative;
    margin-right: 10px;
    display: inline-block;
}
.appointment .payment.select{
    background: #FFD5D9;
}
.checkbox input, .checkbox-icon{
    width: 20px;
    height: 20px;
}
.checkbox input:after, .checkbox-icon:after{
    width: 10px;
    top:32%;
}

.appointment .payment .checkbox{
    position: absolute;
    top: 10px;
    right: 30px;
}
.checkbox input:before,.checkbox-icon:before{
    background: inherit;
}
.appointment .payment img{
    width: 50px;
    position: absolute;
    top: 44px;
    right: 23px;
}

.appointment .item{
    margin: 0 10px 10px 10px;
    padding: 3px;
    border: 1px solid #eaeaea;
}

.appointment h4{
    font-family: 'Lobster1_4';
    border-bottom: 1px solid #EDE6DC;
    padding: 10px;
}
.appointment .button-container{
    overflow: hidden;
    text-align: center;
}

.appointment .appointment-button{
    width: 50px;
    height: 50px;
    border-radius: 60px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    font-size: 15px;
    text-align: center;
    line-height: 49px;
}

.appointment .coll{
    display: inline-block;
    text-align: center;
}

.appointment .time-button{
    width: 100px;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
    margin: 3px;
    font-size: 14px;
    line-height: 40px;
    height: auto;
}

.appointment-button.select{
    background: #537703;
    color: #ffffff;
    border: 0;
}

.appointment .selected-services .h3
{
    border-bottom: 1px solid #EAE8DC;
}
.appointment .selected-services{
    background: #ffffff;
}
.appointment .selected-services .row + .row{
    margin: 0;
}
.appointment .row img{
    width: 20px;
    margin-left: 3px;
}

.appointment .row .col-70{
    width: 20px;
    position: relative;
    bottom: 5px
}

.appointment .row .qty{
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    width: 30px;
    text-align: center;
    margin: auto;
}
.appointment .sub-total{
    border-bottom: 1px solid #d1d2d3;
    border-top: 1px solid #d1d2d3;
}

.appointment .total{
    color: #000000;
    font-weight: 600;
}

.price{
    color: #FC4B4B;
    font-style: italic;
}

.lite-dark{
   color: #A2A2A2;

}
.appointment .service-tax{
    color: #939393;
}

.appointment .amount{
    margin: 10px;
    text-align: center;
    margin-top: 30px;
}

.appointment .amount div{
    color: #FF7A88;
    font-size: 30px;
    line-height: normal;
}
/*check in*/

.checkin-button img{
    width: 29px;
    position: absolute;
    left: 10px;
    top: 15px;
}

.capture{
    width: 121px;
    margin-top: 20px;
}

/*Account */

form .card{
    border-radius: 9px;
    border: 2px solid #f5bcc2;
    background: #fbfbfb;
    margin: 10px 0 0 0;
}

form .card{
    box-shadow: none;
}

.account .profile-header{
    position: relative;
    margin: 10px 20px;
    padding-bottom: 10px;
}

.account .list .item-input{
    border-color: #F8DBDE;
    background: none;
}
.account .profile-header img{
     max-width: 100px;
     border-radius: 50%;
     border: 2px solid #ffffff;
 }

.account .profile-header .fullname{
    position: absolute;
    top: 21px;
    left: 129px;
    line-height: 10px;
}
.account .profile-header .fullname h4{
    line-height: 10px;
}
.account .profile-header .fullname div{
   color: #929191;
   font-style: italic;
   width: 200px;
}

.account .profile-header .fullname div span{
    background: #537703;
    color: #ffffff;
    padding: 5px 6px;
    border-radius: 4px;
    text-align: center;
    font-style: normal;
    min-width: 30px;
    display: inline-block;
}
.account .heading{
    font-family: Lobster1_4;
}
.account .list:last-child.card{
   margin: 15px 0;
}

.account .loyality-point{
    background: #ffffff;
}

.account .input-container{
    width: 100%;
    border-top: 1px solid #DDDDDD;
}
.account .input-container select{
    width: 110%;
    border: 0;
    height: 35px;
    background: inherit;
}

.account .loyality-point .row{
     padding-left: 0;
     font-size: 14px;
 }

.account .loyality-point .row .price{
    color: #943551;
    text-align: center;
}

.account .loyality-point .row .col{
    padding-left: 0;
    font-size: 14px;
}
/*stylest*/
.stylest-detail .top-content{
    text-align: center;
    padding: 20px;
    position: relative;
    background: #f4e5e6;
}

.stylest-detail .top-content h3{
    padding: 0;
    margin: 5px;
}

.stylest-detail .top-content .price{
    font-size: 16px;
}

.stylest-detail .address{
   color: #6B6E69;
   font-size: 14px;
}

.stylest-detail .bottom-container{
    background: #ffffff;
}


.stylest-detail .bottom-container h4{
    border-bottom: 1px solid #EFE8E1;
    font-family: 'Lobster1_4';
    padding: 10px;
}

.stylest-detail .image-item{
    display: inline-block;
    height: 170px;
    width: 170px;
    font-weight: 600;
    position: relative;
}

.stylest-detail .image-item img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.stylest-detail .image-item .border-container{
    width: 160px;
    height: 160px;
    border: 1px solid #D55b70;
    position: absolute;
    top: -5px;
    left: 5px;
    border-radius: 50%;
}

.stylest-detail .list{
    font-size: 14px;
    font-weight: 600;
}

/*Lottary details*/
.stylest-detail .top-content.lottery{
    padding-top: 60px;
}

.stylest-detail .image-item.lottery{
    width: 120px;
    height: 120px;
}

.stylest-detail .image-item.lottery img{
    width: 120px;
    height: 120px;
}

.stylest-detail .image-item.lottery .border-container{
    width: 126px;
    height: 126px;
    top: -3px;
    left: -3px;
}

.stylest-detail .crown{
    position: absolute;
    width: 40px;
    top: 24px;
    left: 165px;
}

.stylest-detail .top-content .address img{
    width: 12px;
    vertical-align: middle;
    margin-right: 3px;
}

.stylest-detail .image-container {
    position: relative;
    margin: 0 10px;
    background: #e6e6e6;
    padding: 5px;
    max-height: 300px;
    margin-top: 10px;
}

.stylest-detail .image-container .saloon{
   height: 200px;
   overflow: hidden;
}

.stylest-detail .image-container .stylestname{
    position: absolute;
    right: 14px;
    bottom: 0;
}

.stylest-detail .image-container .saloon img{
    width: 100%;
}
.stylest-detail .image-container .pattern{
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.stylest-detail .stylest{
    position: relative;
    right: 3px;
    bottom: 0;
}

.stylest-detail .stylest .border-container{
    width: 105px;
    height: 105px;
    border: 1px solid #ffffff;
    position: absolute;
    bottom: 28px;
    right: -2px;
    border-radius: 50%;
}

.stylest-detail .stylest img{
    position: absolute;
    width: 100px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    right: 0;
    bottom: 30px;
}
/*dela Detail*/
.dealDetail .deal-content{
    position: relative;
}

.dealDetail .deal-content .dealimg{
    width: 100%;
    position: relative;
    bottom: -5px;
    background: #e6e6e6;
}

.dealDetail .deal-content .dealimg img{
    width: 100%;
}

.dealDetail .deal-content .deal-bottom {
    background: #e6e6e6;
    height: 60px;
    padding-left: 125px;
    padding-top: 8px;
    position: relative;

}

.dealDetail .bg-price{
    width: 100px;
    position: absolute;
    top: -2px;
    left: 10px;
    z-index: 9;
}

.dealDetail .bg-price img{
  width: 100%;
}

.dealDetail .bg-price .dealprice{
    position: absolute;
    top: 30px;
    right: 0;
    text-align: center;
    display: block;
    color: #ffffff;
    font-size: 21px;
    font-weight: normal;
    left: 0;
}

.dealDetail .deal-bottom .pattern{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
}


.dealDetail .deal-bottom .pattern img{
    width: 100%;
}

.dealDetail .deal-bottom div:last-child{
   font-weight: 600;
}
.dealDetail .address img{
    width: 20px;
}
.dealDetail .address{
    text-align: center;
    margin-top: 10px;
}

.dealDetail .address .saloon-name{
    font-size: 20px;
    font-weight: normal;
    font-family: 'OpenSansLight';
    display: block;
    padding-bottom: 8px;
}

/*Stylist List*/
.stylist-list .item-avatar > img:first-child{
    top: 25px;
}

/* Appointment Details*/

.appointment-detail{
    padding: 8px;
}
.appointment-detail .price-button{
    font-size: 30px;
}

.appointment-detail .services{
    font-size: 13px;
}
.appointment-detail h3{
    font-size: 18px;
}

.appointment-detail .row .col{
    font-size: 13px;
}
.appointment-detail .services .row .person{
    font-style: italic;
    color: #a3a3a3;
}
.appointment-detail .services .row .person span{
    font-size: 10px;
}
.appointment-detail .list .item:nth-child(odd){
    background: #f4e5e6;
}

.appointment-detail .list .item:nth-child(even){
    background: #f8f6f6;
}


.appointment-detail .list .item h3{
    font-size: 16px;
    font-weight: normal;
    text-overflow: ellipsis;
    width: 220px;
    white-space: nowrap;
}

.appointment-detail .list .item p{
    font-size: 12px;
    font-style: italic;
    line-height: 15px;
}

.appointment-detail .list .item{
    padding: 10px;
    border: 0;
    margin: 0;
}

.appointment-detail .list .item i{
    color: #FF253f;
    font-size: 12px;
}

.appointment-detail .list .container{
    display: inline-block;
    vertical-align: top;
}
.appointment-detail .list .item img{
    width: 100%;
}

.appointment-detail .list .item .user-img{
    width: 80px;
    height:80px;
    border-radius: 50px;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
}

.appointment-detail .list .item .saloon-img{
    width: 100px;
   display: inline-block;
    margin-right: 5px;
}

.appointment-detail .price-table{
    background: #f0dbdd;
}

.appointment-detail .price-table .row{
   padding: 5px 9px;
   border-bottom: 1px solid #f4e5e6;
}
.appointment-detail .price-table .row div:first-child{
   color: #5f5c5c;

}

.appointment-detail .price-table .row div:last-child{
    color: #FF495f;
}
.appointment-detail .price-table .row.total{
    background: #f4e5e6;
    font-size: 16px;
    color: #000000;
}

.appointment-detail .list{
    margin-bottom: 0;
    padding: 0;
}

.appointment-detail .heading{
    font-family: 'Lobster1_4';
    border-bottom: 1px solid #f3b0b7;
    padding-bottom: 6px;
}

.appointment-detail  .row + .row{
    margin: 0;
}

.appointment-detail .row-container .row  i{
    color: #537703;
    font-size: 22px;
}

.appointment-detail .confirmation{
    background: #f4e5e6;
    border-top: 1px solid #dbdbdb;
}
.appointment-detail .confirmation div{
    width: 50%;
    display: inline-block;
    padding: 2%;
    text-align: center;
    color: #943551;
}

.appointment-detail .confirmation div .icn{
    width: 45px;
    height: 45px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    background: #943551;
    line-height: 37px;
    margin: auto;
    display: block;
}

.call{
    background: #537703;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    display: block;
    width: 100%;
    height: 47px;
    margin-top: -10px;
}

.call div{
    width: 30px;
    height: 30px;
    background: #ffffff;
    display: inline-block;
    color: #537703;
    border-radius: 30px;
    line-height: 29px;
}

.appointment-detail .confirmation .reject .icn{
    background: #b7b3b4;
}

.appointment-detail .confirmation .reject{
    color: #b7b3b4;
}

.appointment-detail .confirmation .confirm{
    border-right: 1px solid #dbdbdb;
}
/* End of appointment details */

.right-filer div{
    padding: 5px;
}

.right-filer .item{
    border: 0;
}

.right-filer .button{
    background: #000000;
    color: #ffffff;
}

.right-filer .button.selected{
    background: #ffffff;
    color: #000000;
}
.right-filer .button-bar .button{
    border: 0;
}
.right-filer .button-bar {
    border: 0;
}

.right-filer select{
    font-family: inherit;
    width: 120%;
    background: inherit;
    border: 0;
    margin-right: 1px;
    padding: 8px;
    font-size: 14px;
}

.right-filer .select-container{
    overflow: hidden;
    width: 50%;
    background: #ffffff;
    margin-right: 6px;
    border-radius: 3px;
    color: #000000;
}

.bar-footer .footer-bar{
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin: auto;
}

/*category content*/
.modal .beauty-header span{
    font-size: 30px;
}

.category .category-header{
    text-align: center;
    font-size: 20px;
    color: #FF485B;
 }


.category .category-content{
     text-align: center;
 }

.category .category-content .category-item{
   width: 32%;
   display:inline-block;
   margin: 20px 0;
   font-size: 14px;
   vertical-align: top;
}

.category .category-content .category-item img{
    width: 80px;
    border-bottom: 1px solid #FEB6C2;
}

/*appointment histor*/

.history .list .item:nth-child(odd){
    background: #f4e5e6;
}

.history .list .item:nth-child(even){
    background: #f8f6f6;
}


.history .list .item h3{
    font-size: 16px;
    font-weight: normal;
}

.history .list .item p{
    font-size: 12px;
    font-style: italic;
    line-height: 15px;
}

.history .list .item{
    padding: 10px;
    margin: 2px;
    border: 0;
}

.history .list .item .amount{
    color: #ff4c4c;
    position: absolute;
    right: 15px;
    top: 35px;
    font-size: 18px;
}

.history .list .item i{
    color: #FF253f;
    font-size: 12px;
}

.history .list .container{
    display: inline-block;
    vertical-align: top;
}
.history .list .item img{
    width:100%;
}
.history .list .item .saloon-img{
    width: 100px;
    display: inline-block;
    margin-right: 5px;
}
.history .list .item .user-img{
    background: #ffffff;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50px;
    display: inline-block;
    margin-right: 10px;
}

.filled {
    content: url("../images/star-off-review.png");
    margin-right: 5px;
    width: 30px;
}

.not-filled {
    content: url("../images/star-review.png");
    margin-right: 5px;
    width: 30px;
}

.star-rating{
    text-align: center;
    padding: 5%;
}

/*Images slider saloon details*/

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {

  /* background: rgba(0, 0, 0, 0.54) !important;*/
    background: #000000;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}


.stylest-detail .favourite{
    position: relative;
}

.stylest-detail .favourite img{
    width: 30px;
}
/*Submit a saloon*/
.checkin .input-container select {
    width: 110%;
    border: 0;
    height: 35px;
    background: inherit;
}

.check-in{
    border-radius: 5px;
    background: #903450;
    color: #ffffff;
    border: 0;
}
.check-in:hover{
    color: #ffffff;
}


.check-in.button.active, .check-in.button.activated {
    border-color: inherit;
    background-color: #903450;
    box-shadow: none;
}

.check-in i{
    font-size: 30px;
    vertical-align: -5px;
}
.checkin .item-input{
    background: none;
}
.checkin .card{
    margin: 0;
}
.checkin .input-container {
    width: 100%;
    border-top: 1px solid #DDDDDD;
}

.upcoming{
    position: absolute;
    right: 0;
    top: 62px;
    background: #FF495B;
    color: #fff;
    font-size: 10px;
    padding: 2px 8px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-transform: uppercase
}

.list-map .map-mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0.3;
}
.list-map.saloon-item{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

.no-data {
    text-align: center;
    padding-top: 33%;
}
.no-data i{
    font-size: 135px;
}


.noconnection{
    background: #ffffff;
    text-align: center;
}

.noconnection .container{
    margin-top: 30%;
}
.noconnection i{
    font-size: 100px;

}

/*Map css*/
html, body, #map_canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#map_canvas {
    position: relative;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}



.no-time-date{
    width: 225px;
}
