<ng-include src="'templates/header.html'"></ng-include>
<ion-view class="view-background checkin">
    <ion-content class="has-header has-footer padding about">

        <h4>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, nunc eu convallis efficitur, felis est varius arcu, sed accumsan urna risus vel ex. Duis ut arcu nisl. Nulla facilisi.</p>

        <h4>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, nunc eu convallis efficitur, felis est varius arcu, sed accumsan urna risus vel ex. Duis ut arcu nisl. Nulla facilisi.</p>



        <h4>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, nunc eu convallis efficitur, felis est varius arcu, sed accumsan urna risus vel ex. Duis ut arcu nisl. Nulla facilisi.</p>


        <h4>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, nunc eu convallis efficitur, felis est varius arcu, sed accumsan urna risus vel ex. Duis ut arcu nisl. Nulla facilisi.</p>

    </ion-content>

</ion-view>
<div class="bar bar-footer beauty-footer dark">
    <div class="title" ui-sref="confirm"> Submit</div>
</div>
