<!--<div class="bar bar-header beauty-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
    <img src="images/icon-logo.png" class="small-icon" ng-click="goHome()">
    <div class="title"> <h3>Appointment History</h3></div>
</div>-->
<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="has-header">
        <div class="list">
            <a class="item item-thumbnail-left" ui-sref="appointmentDetails({id: 1})">
                <img src="images/img-salon.png">
                <h2>Yoon Hair Salon</h2>
                <p>
                    <i class="icon ion-android-call"> </i>+(91)-33-33022321<br>
                    <strong> Date:</strong>  2015/07/24 <br>
                    <strong>Time:</strong> 11:00AM - 12:00PM
                </p>
            </a>

            <a class="item item-thumbnail-left" ui-sref="appointmentDetails({id: 1})">
                <img src="images/img-salon.png">
                <h2>Yoon Hair Salon</h2>
                <p>
                    <i class="icon ion-android-call"> </i>+(91)-33-33022321<br>
                    <strong> Date:</strong>  2015/07/24 <br>
                    <strong>Time:</strong> 11:00AM - 12:00PM
                </p>
            </a>
            <a class="item item-thumbnail-left" ui-sref="appointmentDetails({id: 1})">
                <img src="images/img-salon.png">
                <h2>Yoon Hair Salon</h2>
                <p>
                    <i class="icon ion-android-call"> </i>+(91)-33-33022321<br>
                    <strong> Date:</strong>  2015/07/24 <br>
                    <strong>Time:</strong> 11:00AM - 12:00PM
                </p>
            </a>
            <a class="item item-thumbnail-left" ui-sref="appointmentDetails({id: 1})">
                <img src="images/img-salon.png">
                <h2>Yoon Hair Salon</h2>
                <p>
                    <i class="icon ion-android-call"> </i>+(91)-33-33022321<br>
                    <strong> Date:</strong>  2015/07/24 <br>
                    <strong>Time:</strong> 11:00AM - 12:00PM
                </p>
            </a>
            <a class="item item-thumbnail-left" ui-sref="appointmentDetails({id: 1})">
                <img src="images/img-salon.png">
                <h2>Yoon Hair Salon</h2>
                <p>
                    <i class="icon ion-android-call"> </i>+(91)-33-33022321<br>
                    <strong> Date:</strong>  2015/07/24 <br>
                    <strong>Time:</strong> 11:00AM - 12:00PM
                </p>
            </a>
            <a class="item item-thumbnail-left" ui-sref="appointmentDetails({id: 1})">
                <img src="images/img-salon.png">
                <h2>Yoon Hair Salon</h2>
                <p>
                    <i class="icon ion-android-call"> </i>+(91)-33-33022321<br>
                    <strong> Date:</strong>  2015/07/24 <br>
                    <strong>Time:</strong> 11:00AM - 12:00PM
                </p>
            </a>


        </div>
    </ion-content>
</ion-view>