<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="has-header appointment-detail has-footer">

        <div class="list">

            <div class="item">
                <div class="user-img">
                    <img ng-src="{{historyDetail.appointment.img_url}}">
                </div>
                <div class="container">
                    <h3>{{historyDetail.appointment.user_name}}</h3>
                    <p>
                        <i class="ion-ios-calendar-outline"></i>  {{historyDetail.appointment.date | date}}
                    </p>

                    <p>
                        <i class="ion-ios-clock-outline"></i></strong> {{historyDetail.appointment.start_time}} - {{historyDetail.appointment.end_time}}
                    </p>

                    <p>
                        <i class="icon ion-at"> </i>{{historyDetail.appointment.email}}
                    </p>
                </div>

            </div>

            <div class="confirmation" ng-if="historyDetail.appointment.appointment_status==2">
                <div class="confirm" ng-click="confirm(1)">
                    <div class="icn">
                        <i class="ion-thumbsup"> </i>
                    </div>
                    Confirm
                </div><div class="reject" ng-click="confirm(3)">
                    <div class="icn">
                        <i class="ion-android-close"> </i>
                    </div>
                    Reject
                </div>
            </div>

        </div>
        <div class="price-table">

            <div class="row-colum">
                <div class="colum width-72">Price</div>
                <div class="colum width-25"> <span class="rupyaINR">Rs</span>{{subTotal() | noFractionCurrency:""}}</div>
            </div>

            <div class="row-colum">
                <div class="colum width-72">Discount</div>
                <div class="colum width-25"> <span class="rupyaINR">Rs</span>{{historyDetail.appointment.discount | noFractionCurrency:""}}</div>
            </div>

            <div class="row-colum">
                <div class="colum width-72">Service Tax</div>
                <div class="colum width-25"> <span class="rupyaINR">Rs</span>{{historyDetail.appointment.service_tax | noFractionCurrency:""}}</div>
            </div>

            <div class="row-colum total">
                <div class="colum width-72">Total Price</div>
                <div class="colum width-25"> <span class="rupyaINR">Rs</span>{{historyDetail.appointment.amount | noFractionCurrency:""}}</div>
            </div>
        </div>

        <div class="services">
            <h4 class="heading">Services on this appointment</h4>

            <div class="row-container">
                <div class="row-colum" ng-repeat="service in historyDetail.service_list">
                    <div class="colum width-10"><i class="icon ion-checkmark-circled"> </i></div>
                    <div class="colum width-45">{{service.facility_name}}</div>
                    <div class="colum width-20 text-center person">{{service.no_of_person}} <span ng-if="service.no_of_person<2">Person</span> <span ng-if="service.no_of_person>1">Persons</span></div>
                    <div class="colum width-20 align-right price"><span class="rupyaINR">Rs</span> {{service.price*service.no_of_person | noFractionCurrency:""}}</div>
                    <!--<div class="col-20 align-right price" ng-if="service.is_deal==1"><span class="rupyaINR">Rs</span> {{service.deal_price | noFractionCurrency:""}}</div>-->
                </div>
            </div>

           <!-- <div class="row">
                <div class="col col-75">{{service.facility_name}}</div>
                <div class="col price" ng-if="service.is_deal==0">Rs {{service.price | currency:""}}</div>
                <div class="col price" ng-if="service.is_deal==1">Rs {{service.deal_price | currency:""}}</div>
            </div>-->

        </div>

    </ion-content>

    <div class="bar bar-footer">
        <a class="call" ng-click="callNumber(historyDetail.appointment.phone_number)">
            {{historyDetail.appointment.phone_number}} <div><i class="icon ion-android-call"> </i></div>
        </a>
    </div>

</ion-view>

