<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="has-header has-footer appointment view-background saloon-list">
        <div class="image-container">
            <img src="images/step1.png">
        </div>

        <ion-item>
            <div class="img-container">
                <img ng-src="{{appointmentData.saloon.saloon_details.saloon_image}}">
                <div class="list-content">
                    <h2>{{appointmentData.saloon.saloon_details.saloon_name}}</h2>
                    <p class="ellipsis">
                        <i class="iocn ion-location"> </i>{{appointmentData.saloon.saloon_details.locality}},&nbsp;{{appointmentData.saloon.saloon_details.city_name}} <span class="distance">( 2000 Km )</span>
                    </p>
                </div>
            </div>

            <div class="rating">
                {{appointmentData.saloon.saloon_details.rating |number:1}}
            </div>
        </ion-item>

        <h4>Select Day</h4>
        <div class="button-container">
            <div  ng-repeat="day in days" class="coll">
                <div>{{day.day}}</div>
                <div class="appointment-button" ng-click="daySelected(day)"  ng-class="{'select':day.selected}">{{day.name}}</div>
            </div>
        </div>

        <h4>Select Time</h4>
        <div class="button-container padding">
            <div class="appointment-button time-button" ng-class="{'select':current.selected}" ng-repeat="current in currentSelected.hours" ng-click="hoursSelected(current)">
                {{current.start_time}}
            </div>

            <div class="no-time-date" ng-if="currentSelected.hours.length<1">
                No time is available on this date.
            </div>
        </div>

        <div class="selected-services">
            <h4>Selected Services</h4>
            <div class="row-container">
                <div class="row" ng-repeat="row in appointmentData.services">
                    <div class="col-10 align-left"><img src="images/tick.png"></div>
                    <div class="col-50">{{row.facility_name}}</div>
                    <div class="col-20"><input ng-model="row.no_of_person" class="qty" value='1' type="tel"/></div>
                    <div class="col-20"><span class="price"><span class="rupyaINR">Rs</span>{{row.no_of_person*row.price | noFractionCurrency:""}}</span></div>
                </div>
            </div>
            <div class="sub-total">
                <div class="row">
                    <div class="col col-50"></div>
                    <div class="col col-25">Sub Total</div>
                    <div class="col col-25"><span class="rupyaINR">Rs</span>{{subTotal() | noFractionCurrency:""}}</div>
                </div>

                <div class="row service-tax">
                    <div class="col col-50"></div>
                    <div class="col col-25">Discount</div>
                    <div class="col col-25"><span class="rupyaINR">Rs</span>{{discountAmount() | noFractionCurrency:""}}</div>
                </div>

                <div class="row service-tax">
                    <div class="col col-50"></div>
                    <div class="col col-25">Service Tax</div>
                    <div class="col col-25"><span class="rupyaINR">Rs</span>{{taxAmount() | noFractionCurrency:""}}</div>
                </div>

            </div>

            <div class="total padding">
                <div class="row">
                    <div class="col col-50"></div>
                    <div class="col col-25">Total</div>
                    <div class="col col-25"><span class="rupyaINR">Rs</span>{{netAmount() | noFractionCurrency:""}}</div>
                </div>
            </div>
         </div>
    </ion-content>
    <div class="bar bar-footer beauty-footer dark">
        <div class="title" ng-click="confirm()"> Continue</div>
    </div>
</ion-view>