<div class="modal">

    <div class="bar bar-header beauty-header">
        <div class="title"> Category</div>
        <div class="button button-clear" ng-click="modal.hide()"><span class="ion-ios-close-outline"></span></div>
    </div>

    <ion-content class="has-header padding category">
        <div class="category-all" ng-click="showList('',true)">
            All Category
        </div>

        <div class="category-content">
            <div class="category-item" ng-class="{'selected':category_id==item.id}" ng-repeat="item in cateList" ng-click="showList(item.id,true)">
                <img src="{{item.category_image_url}}">
                <div>{{item.category_name}}</div>
            </div>
        </div>
    </ion-content>
</div>