<!--<div class="bar bar-header beauty-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
    <img src="images/icon-logo.png" class="small-icon" ui-sref="tab.home">
    <div class="title"> <h3>CHECK IN</h3></div>
</div>-->
<ng-include src="'templates/header.html'"></ng-include>
<ion-view class="view-background ">
    <ion-content class="has-header padding">
        <div class="form-content padding">
            <form>
                <div class="list card">
                    <label class="item item-input">
                        <input type="text" placeholder="Saloon Name" name="name">
                    </label>

                    <label class="item item-input">
                        <input type="email" placeholder="Address">
                    </label>
                </div>

                <button class="button button-full check-in" ng-click="uploadImage()">
                    <i class="ion-ios-camera"> </i>Add Picture
                </button>
                <div class="text-center">
                    <img ng-if="imageURI==''" src="images/noimagesaloon.png" class="capture">
                    <img ng-if="imageURI!=''" src="{{imageURI}}" class="capture">
                </div>
            </form>
        </div>

    </ion-content>

    <div class="bar bar-footer beauty-footer dark">
        <div class="title">
            Post
        </div>
    </div>
</ion-view>