<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="has-header has-footer appointment view-background saloon-list">
        <div class="image-container">
            <img src="images/step2.png">
        </div>
        <ion-item class="padding">
            <div class="img-container">
                <img ng-src="{{appointmentData.saloon.saloon_details.saloon_image}}">
                <div class="list-content">
                    <h2>{{appointmentData.saloon.saloon_details.saloon_name}}</h2>
                    <p class="ellipsis">
                        <i class="iocn ion-location"> </i>{{appointmentData.saloon.saloon_details.locality}},&nbsp;{{appointmentData.saloon.saloon_details.city_name}}
                    </p>
                </div>
            </div>

            <div class="rating">
                {{appointmentData.saloon.saloon_details.rating |number:1}}
            </div>
        </ion-item>
        <div class="amount">
            You agree to pay at the Beauty Salon / SPA an amount of <div> <span class="rupyaINR">Rs</span>{{appointmentData.confirm.amount | noFractionCurrency:""}}</div>
        </div>
    </ion-content>
    <div class="bar bar-footer beauty-footer dark">
        <div class="title" ng-click="submit()"> Submit</div>
    </div>
</ion-view>