<!--<div class="bar bar-header beauty-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
    <img src="images/icon-logo.png" class="small-icon" ui-sref="tab.home">
    <div class="title"> <h3>Appointment Conformation</h3></div>
</div>-->
<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="has-header has-footer appointment view-background saloon-list">
        <div class="image-container">
            <img src="images/step2.png">
            <div class="select-time">Select Time</div>
            <div class="payment-type active">Payment type</div>
        </div>
        <ion-item class="padding">
            <div class="img-container">
                <img src="images/img-salon.png">
            </div>
            <div class="list-content">
                <h2>Pretty Hate Machine Pretty Hate Machine Pretty Hate Machine</h2>
                <div>Nine Inch Nails</div>
                <div>Nine Inch Nails</div>
                <div>Nine Inch Nails</div>
            </div>
        </ion-item>
        <div class="amount">
            <span>Total:&nbsp;</span> <span> Rs 20114.00</span>
        </div>
        <h4>Select Payment Type</h4>
        <div class="payment-type-container padding">

            <div class="payment select">
                <label class="checkbox checkbox-assertive">
                    <input type="checkbox">
                </label>
                <img src="images/ico-credit-card.png">
            </div>

            <div class="payment">
                <label class="checkbox checkbox-assertive">
                    <input type="checkbox">
                </label>
                <img src="images/ico-cash.png">
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer beauty-footer dark">
        <div class="title"> Submit</div>
    </div>
</ion-view>