<!--<div class="bar bar-header beauty-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
    <div class="title"> <h3>Deal Details</h3></div>
</div>-->
<ng-include src="'templates/header.html'"></ng-include>
<ion-view class="dealDetail">
    <ion-content class="has-header padding view-background">
        <div class="deal-content">
            <h4>Ladies Hair Coloring @Rs 2000 /- only</h4>
            <div class="dealimg">
                <img src="images/deal3.png">
            </div>

            <div class="deal-bottom">
                <div> OFFER VALID FROM </div>
                <div> 18 JULY - 19 JULY</div>
            </div>
        </div>

        <div class="bg-price">
            <div class="dealprice"> Rs 2000/-</div>
            <img src="images/bg-price.png">
        </div>
        <div class="address padding">
            <img src="images/icon-mappin-black-small.png">
            <h4>Pulse SPA</h4>
            <div> CE-107, Salt Lake City, Kolkata - 700064 </div>
        </div>
        <a class=" button promo-button active-button button-full">Shop Now</a>

    </ion-content>
</ion-view>