<ng-include src="'templates/header.html'"></ng-include>
<ion-view class="dealDetail">
    <ion-content class="has-header padding view-background">

        <div class="deal-content">
            <div class="deal-heading">
                {{dealDetail.about_deal}}
            </div>

            <div class="dealimg">
                <img src="{{dealDetail.deal_image}}">
            </div>

            <div class="deal-bottom">
                <div> OFFER VALID FROM </div>
                <div> {{dealDetail.deal_start_time |date:""}} - {{dealDetail.deal_end_time |date:""}}</div>
                <div class="bg-price">
                    <div class="dealprice"><span class="rupyaINR"> Rs</span>{{dealDetail.deal_price}}</div>
                    <img src="images/bg-price.png">
                </div>
                <div class="pattern">
                    <img src="images/img-paper-pattern-gray.png">
                </div>
            </div>
        </div>


        <div class="address padding">
            <img src="images/icon-mappin-black-small.png">
            <a ui-sref="detailSaloon({id:dealDetail.saloon_id})" class="saloon-name" >{{dealDetail.saloon_name}}</a>
            <div> {{dealDetail.house}},{{dealDetail.locality}} {{dealDetail.city_name}}</div>
            <a class=" button promo-button active-button button-full" ng-click="shopNow()">Reserve offer</a>
        </div>


    </ion-content>
</ion-view>