<ng-include src="'templates/header.html'"></ng-include>
<ion-view class="view-background checkin">
    <ion-content class="has-header padding faq">

        <h4>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, nunc eu convallis efficitur, felis est varius arcu, sed accumsan urna risus vel ex. Duis ut arcu nisl. Nulla facilisi.</p>

        <h4>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, nunc eu convallis efficitur, felis est varius arcu, sed accumsan urna risus vel ex. Duis ut arcu nisl. Nulla facilisi.</p>



        <h4>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, nunc eu convallis efficitur, felis est varius arcu, sed accumsan urna risus vel ex. Duis ut arcu nisl. Nulla facilisi.</p>


        <h4>Q. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, nunc eu convallis efficitur, felis est varius arcu, sed accumsan urna risus vel ex. Duis ut arcu nisl. Nulla facilisi.</p>

    </ion-content>

</ion-view>