<ion-view>
    <ion-content class="login-container">
        <div class="login">
            <img src="images/logo-inner.png" class="logo">
            <div>GET YOUR DREAM LOOK </div>
            <div class="form-content">
                <form novalidate name="userForm" ng-submit="submitForm(userForm)">

                    <label class="item-input input-container">
                        <input type="text" placeholder="Email id or phone no" ng-model="user.email" name="email"/>
                    </label>

                    <label class="item-input input-container">
                        <input type="password" placeholder="Password" ng-model="user.password" name="password">
                    </label>


                    <div class="remember-me">
                        <span>Remember me</span>
                        <label class="toggle right toggle-energized toggle-dark float-right">
                            <input type="checkbox" ng-model="user.remember">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                        <div class="clr"></div>
                    </div>

                <div class="button-container">
                    <div class="clr"></div>
                    <button class="button promo-button active-button button-full">Login</button>

                    <div ng-click="forgotPass()">
                        FORGOT PASSWORD?
                    </div>

                    <div>
                        <a ui-sref="registration"> NOT A MEMBER YET? REGISTER NOW</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </ion-content>

</ion-view>