<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="view-background has-header stylest-detail">
        <div class="top-content lottery">
            <img class="crown" src="images/ico-crown.png">
            <div class="image-item lottery">
                <img ng-src="{{lottery.img_url}}">
                <div class="border-container"> </div>
            </div>

            <h4>{{lottery.user_name}} </h4>

            <p class="address">
                <img src="images/icon-mappin-black-small.png">
               {{lottery.city_name}} ,{{lottery.locality}}
            </p>
            <div class="price">{{lottery.win_date | date}}</div>
        </div>
        <div class="image-container">

            <div class="saloon">
                <img ng-src="{{lottery.saloon_image}}">
            </div>

            <div>
                <h4>{{lottery.saloon_name}} </h4>
                <p class="address">
                    1/1B Upper Wood Street Kolkata,<br>
                    West Bengal
                </p>
            </div>

            <div class="stylest">
                <img ng-src="{{lottery.profile_image}}">
                <div class="border-container"> </div>
            </div>
            <h4 class="stylestname"> {{lottery.name}} </h4>
            <img src="images/img-paper-pattern-gray.png" class="pattern">
        </div>
    </ion-content>
</ion-view>