<ion-view>

    <ion-content class="promotional">

        <div class="promotional-contant padding">

            <div class="img-slider-content">
                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                        <img src="images/mobile.png" width="150">
                    </ion-slide>

                    <ion-slide>
                        <img src="images/mobile2.png" width="150">
                        <div class="descrp"> Get your nearest salons.</div>
                    </ion-slide>

                    <ion-slide>
                        <img src="images/mobile3.png" width="150">
                        <div class="descrp">Find salons on the map.</div>
                    </ion-slide>

                    <ion-slide>
                        <img src="images/mobile4.png" width="150">
                        <div class="descrp">Choose services & book appointment.</div>
                    </ion-slide>

                    <ion-slide>
                        <img src="images/mobile5.png" width="150">
                        <div class="descrp">Check you booking history.</div>
                    </ion-slide>

                </ion-slide-box>
            </div>
            <div class="button-set">
              <!--  <a class="promo-button" href="#/signup">Sign Up</a>-->

                <a class="button promo-button active-button" href="#/signup">Sign Up</a>
                <a class="button promo-button" href="#signin">Sign In</a>
            </div>

            <div class="separator">
                OR
            </div>

            <a class="social">
                <img src="images/btn-fblogin.png">
            </a>

            <a class="skip" ui-sref="tab.todaysdeals">
                Skip >
            </a>
        </div>

    </ion-content>

</ion-view>