<!--<div class="bar bar-header beauty-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
    <img src="images/icon-logo.png" class="small-icon" ui-sref="tab.home">
    <div class="title"> <h3>Favourite Saloons/SPA</h3></div>
</div>-->
<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="has-header view-background saloon-list padding">
        <ion-list>
            <ion-item class="padding" ui-sref="detailSaloon({id: 1})">
                <div class="img-container">
                    <img src="images/img-salon.png">
                </div>
                <div class="list-content">
                    <h2>Pretty Hate Machine Pretty Hate Machine Pretty Hate Machine</h2>
                    <div>Nine Inch Nails</div>
                    <div>Nine Inch Nails</div>
                    <div>Nine Inch Nails</div>
                </div>
            </ion-item>

            <ion-item class="padding" ui-sref="detailSaloon({id: 1})">
                <div class="img-container">
                    <img src="images/img-salon.png">
                </div>
                <div class="list-content">
                    <h2>Pretty Hate Machine Pretty Hate Machine Pretty Hate Machine</h2>
                    <div>Nine Inch Nails</div>
                    <div>Nine Inch Nails</div>
                    <div>Nine Inch Nails</div>
                </div>
            </ion-item>
            <ion-item class="padding" ui-sref="detailSaloon({id: 1})">
                <div class="img-container">
                    <img src="images/img-salon.png">
                </div>
                <div class="list-content">
                    <h2>Pretty Hate Machine Pretty Hate Machine Pretty Hate Machine</h2>
                    <div>Nine Inch Nails</div>
                    <div>Nine Inch Nails</div>
                    <div>Nine Inch Nails</div>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>