<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="has-header view-background saloon-list">
        <ion-list>
            <ion-item ui-sref="detailSaloon({id: saloon.saloon_id})" ng-repeat="saloon in saloonListFev">
                <div class="img-container">
                    <img ng-src="{{saloon.upload_url}}">
                    <div class="list-content">
                        <h2>{{saloon.saloon_name}}</h2>
                        <p class="ellipsis">
                            <i class="iocn ion-location"> </i>{{saloon.locality}},&nbsp;{{saloon.city_name}} <span class="distance">( 2000 Km )</span>
                        </p>
                    </div>
                </div>
                <div class="rating">
                    {{saloon.rating |number:1}}
                </div>

                <i class="icon ion-ios-heart fev" ng-if="saloon.is_fev==1" ng-click="$event.stopPropagation();toggleFev(saloon.is_fev,saloon.saloon_id)">

                </i>

                <i class="icon ion-ios-heart fev un-feb" ng-if="saloon.is_fev==0" ng-click="$event.stopPropagation();toggleFev(saloon.is_fev,saloon.saloon_id)">

                </i>
                <span class="offer">
                    <i class="icon ion-coffee">

                    </i>
                    <strong> 10</strong>
                </span>
            </ion-item>
        </ion-list>

        <div class="no-data" ng-if="saloonListFev.length<1">

            <i class="iocn ion-social-instagram"></i>

            <h4>It is lonely here</h4>

            <p>
                All your shortlisted saloon will appear here.
            </p>
        </div>
    </ion-content>

</ion-view>