<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="has-header history view-background">

        <div class="list">

            <a class="item" ui-sref="appointmentSaloon({id: history.id})" ng-repeat="history in histories">
                <div class="user-img"><img ng-src="{{history.img_url}}"></div>
                <div class="upcoming" ng-if="history.upcoming_appointment==1">
                    Upcoming
                </div>
                <div class="container">
                    <h3>{{history.user_name}}</h3>
                    <p>
                        <i class="ion-ios-calendar-outline"></i>  {{ history.date | date }}
                    </p>

                    <p>
                        <i class="ion-ios-clock-outline"></i></strong> {{history.start_time}} - {{history.end_time}}
                    </p>

                    <p>
                        <i class="icon ion-android-call"> </i>{{history.phone_number}}
                    </p>
                </div>
                <div class="amount">
                    <span class="rupyaINR">Rs</span>{{history.amount | noFractionCurrency:""}}
                </div>
            </a>

        </div>

        <div class="no-data" ng-if="histories.length<1">
            <i class="iocn ion-social-instagram"></i>
            <h4>It is lonely here</h4>
            <p>
                All your booking history will appear here.
            </p>
        </div>

    </ion-content>
</ion-view>