<ion-side-menus>

    <ion-side-menu-content>
        <div class="bar bar-header beauty-header" ng-controller="headerCtrl">

            <button class="button button-icon icon ion-navicon" ng-click="toggleMenuleft()"></button>
            <div class="title">
                Top Beauty/ Salon & Spas
            </div>
            <div class="buttons">
                <button class="button button-icon icon ion-ios-search-strong" ng-if="!map" ng-click="toggleSearch()"></button>
                <button class="button button-icon icon ion-location" ng-if="!map" ui-sref="sidelist.saloonListMap"></button>
                <button class="button button-icon icon ion-more" ng-if="map" ui-sref="sidelist.saloonList"></button>
            </div>

            <div class="list list-inset search-header" ng-show="search">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-enter="searchSaloon()" ng-model="searchKey">
                </label>
            </div>
        </div>
       <!-- <img src="images/ico-filter.png" class="map-icon" ng-click="showFiler()">

        <img ng-if="map" src="images/ico-listing.png" class="filter-icon"  ui-sref="sidelist.saloonList({id: 2})">
        <img ng-if="!map" src="images/ico-map.png" class="filter-icon"  ui-sref="sidelist.saloonListMap({id: 2})">
-->       <!-- <div class="bar bar-footer nocolor-footer">
            <div class="title"> <img src="images/icon-mappin.png"> Map View</div>

        </div>
-->
        <ion-nav-view name="side-list-view" animation="slide-left-right">
        </ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="sidemenu-background">
            <div class="user">
                <div class="image-container">
                    <img ng-show="showFilter" ng-src="{{userDetail.img_url}}">
                    <img ng-show="!showFilter" src="images/no-pic.png">
                </div>
                <div class="info">
                    <a ng-show="showFilter"  ng-click="toggleMenuleft()"  class="user-name" ui-sref="myaccount">{{userDetail.user_name}}</a>
                    <a ng-show="!showFilter" ng-click="toggleMenuleft()" class="user-name" ui-sref="myaccount">Already Registered</a>
                    <a ng-show="showFilter"  ng-click="toggleMenuleft();toggleMenuleft('logout')"> Logout </a>
                    <a ng-show="!showFilter" ng-click="toggleMenuleft()" ui-sref="login"> Login </a>
                </div>
            </div>
            <ul class="list">

                <a nav-clear ui-sref="tab.todaysdeals" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-home-outline"> </i>
                        </div>
                        <div class="col col-80">Home</div>
                    </div>
                </a>

                <a ng-show="showFilter" nav-clear class="item" ui-sref="appointmentHistory" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-calendar-outline"> </i>
                        </div>
                        <div class="col col-80">Appointment History <div class="badge"> {{userAppointment}}</div> </div>
                    </div>
                </a>

                <a ng-show="showFilter" nav-clear ui-sref="submit" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-chatboxes-outline"> </i>
                        </div>
                        <div class="col col-80">Suggest Saloon/SPA</div>
                    </div>

                </a>

                <a nav-clear ui-sref="lottery" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-trophy"></i>
                        </div>
                        <div class="col col-80">Lottery Winner</div>
                    </div>
                </a>


                <a ng-show="showFilter" nav-clear ui-sref="favSaloonList" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-heart-outline"> </i>
                        </div>
                        <div class="col col-80">Favourite Saloon/SPA</div>
                    </div>
                </a>

                <a ng-show="showFilter" nav-clear ui-sref="favDealList" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-bookmark"> </i>
                        </div>
                        <div class="col col-80">Bookmarked Offers</div>
                    </div>
                </a>

                <a ng-show="showFilter" nav-clear ui-sref="favStylistList" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-heart-outline"> </i>
                        </div>
                        <div class="col col-80">Favourite Stylist</div>
                    </div>
                </a>

                <a nav-clear ui-sref="faq" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-help-outline"> </i>
                        </div>
                        <div class="col col-80">FAQ</div>
                    </div>

                </a>
            </ul>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right">
      <form novalidate name="filter">
        <ion-content class="sidemenu-background right-filer">
            <ul class="list">
                <a nav-clear class="item">
                    <div>Sort By</div>
                    <div class="button-bar">
                        <button class="button icon {{button.class}}" ng-class="{'selected':isActiveType(button.id)}" ng-repeat="button in filterByType" ng-click="typeTabChange(button.id)"></button>
                    </div>
                </a>
                <a nav-clear class="item">
                    <div>Filter By Date</div>
                    <div class="button-bar">
                        <button class="button icon" ng-click="dateTabChange(date)" ng-class="{'selected':isActiveDate(date.date)}" ng-repeat="date in filterByDate">{{date.text}}</button>
                    </div>
                </a>

                <a nav-clear class="item">
                    <div>Filter By Time</div>
                    <div class="button-bar">
                        <div class="select-container">
                            <select ng-options="obj.label for obj in timeFilterArray track by obj.value" ng-model="postData.start_time">
                            </select>
                        </div>

                        <div class="select-container">
                            <select ng-options="obj.label for obj in timeFilterArray track by obj.value" ng-model="postData.end_time">
                            </select>
                        </div>
                    </div>
                </a>

                <a nav-clear class="item">
                    <div>Filter By Price</div>
                    <div class="button-bar">
                        <div class="select-container">
                            <select ng-options="obj.label for obj in priceFilterArray track by obj.value" ng-model="postData.start_price">
                            </select>
                        </div>
                        <div class="select-container">
                            <select ng-options="obj.label for obj in priceFilterArray track by obj.value" ng-model="postData.end_price">
                            </select>
                        </div>
                    </div>
                </a>
                <a nav-clear class="item">
                    <div>Filter By City</div>
                    <div class="button-bar">
                        <div class="select-container">
                            <select name="city" ng-options="obj.city_name for obj in cityList track by obj.id" ng-model="postData.city" ng-change="changeCity(postData.city)">
                            </select>
                        </div>
                        <div class="select-container">
                            <select name="locality" ng-options="obj.locality for obj in locality track by obj.id" ng-model="postData.locality">
                            </select>
                        </div>
                    </div>
                </a>
            </ul>

        </ion-content>
        <ion-footer-bar>
            <div class="footer-bar" ng-click="filterList()">
                <i class="icon ion-funnel"> </i> <span> Filter</span>
            </div>
        </ion-footer-bar>
      </form>
    </ion-side-menu>

</ion-side-menus>