<ion-side-menus>

    <ion-side-menu-content>
        <div class="bar bar-header beauty-header">
            <button class="button button-icon icon ion-navicon" ng-click="toggleMenuleft()"></button>
            <div class="title">Special Offers</div>
        </div>

        <ion-nav-view name="tab-todays">

        </ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="sidemenu-background">
            <div class="user">
                <div class="image-container">
                    <img ng-if="showFilter && userProfilePic!=''" ng-src="{{userProfilePic}}">
                    <img ng-if="!showFilter || userProfilePic==''" src="images/no-pic.png">
                </div>
                <div class="info">
                    <a ng-show="showFilter"  ng-click="toggleMenuleft()"  class="user-name" ui-sref="myaccount">{{userDetail.user_name}}</a>
                    <a ng-show="!showFilter" ng-click="toggleMenuleft()" class="user-name" ui-sref="myaccount">Already Registered</a>
                   <!-- <a ng-show="showFilter"  ng-click="toggleMenuleft();toggleMenuleft('logout')"> Logout </a>
                    <a ng-show="!showFilter" ng-click="toggleMenuleft()" ui-sref="login"> Login </a>
-->                </div>
            </div>
            <ul class="list">
               <!-- <a ng-show="showFilter" nav-clear ui-sref="myaccount" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-person-outline"> </i>
                        </div>
                        <div class="col col-80">Account</div>
                    </div>
                </a>-->

                <a ng-show="showFilter" nav-clear class="item" ui-sref="appointmentHistory" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-calendar-outline"> </i>
                        </div>
                        <div class="col col-80">Appointment History <div class="badge"> {{userAppointment}}</div> </div>
                    </div>
                </a>

                <a nav-clear ui-sref="submit" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-chatboxes-outline"> </i>
                        </div>
                        <div class="col col-80">Suggest Salon/SPA</div>
                    </div>
                </a>
                <a nav-clear ui-sref="lottery" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-trophy"></i>
                        </div>
                        <div class="col col-80">Lottery Winner</div>
                    </div>
                </a>
                <a ng-show="showFilter" nav-clear ui-sref="favSaloonList" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-heart-outline"> </i>
                        </div>
                        <div class="col col-80">Favourite Salon/SPA</div>
                    </div>
                </a>

                <a ng-show="showFilter" nav-clear ui-sref="favDealList" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-bookmark"> </i>
                        </div>
                        <div class="col col-80">Bookmarked Offers</div>
                    </div>
                </a>

                <a ng-show="showFilter" nav-clear ui-sref="favStylistList" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-heart-outline"> </i>
                        </div>
                        <div class="col col-80">Favourite Stylist</div>
                    </div>
                </a>



                <a nav-clear ui-sref="faq" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-help-outline"> </i>
                        </div>
                        <div class="col col-80">FAQ</div>
                    </div>

                </a>
                <a nav-clear ui-sref="about" class="item" ng-click="toggleMenuleft()">
                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-ios-information-outline"> </i>
                        </div>
                        <div class="col col-80">About</div>
                    </div>
                </a>

                <a nav-clear ng-show="showFilter" class="item" ng-click="toggleMenuleft('logout')">

                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-log-out"> </i>
                        </div>
                        <div class="col col-80">Logout</div>
                    </div>


                </a>

                <a nav-clear class="item" ng-show="!showFilter" ng-click="toggleMenuleft()" ui-sref="login">

                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-log-in"> </i>
                        </div>
                        <div class="col col-80">Login</div>
                    </div>

                </a>
                <a nav-clear class="item" ng-click="shareApp()">

                    <div class="row">
                        <div class="col col-20">
                            <i class="icon ion-android-share-alt"> </i>
                        </div>
                        <div class="col col-80">Share Sringar</div>
                    </div>
                </a>
            </ul>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>