<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="view-background has-header stylest-detail">
        <div class="top-content">

            <div class="image-item">
                <img ng-src="{{stylest.stylist_info.profile_image}}">
                <div class="border-container"> </div>
            </div>
            <div class="favourite">
                <img src="images/icon-favourite.png" ng-if="stylest.is_fev==1" ng-click="favourite(stylest.is_fev)">
                <img src="images/icon-unfavourite.png" ng-if="stylest.is_fev==0" ng-click="favourite(stylest.is_fev)">
            </div>
            <div class="price">Pulse SPA</div>
            <p class="address">
                {{stylest.stylist_info.house}},
                {{stylest.stylist_info.city}},{{stylest.stylist_info.locality}}
            </p>
        </div>
        <div class="bottom-container">
            <h4>Expertise</h4>
            <ion-list>
                <div class="row" ng-repeat="stylest in stylest.specialties">
                    <div class="col col-10 align-right"><i class="icon ion-checkmark-round"></i></div>
                    <div class="col col-90">{{stylest.facility_name}}</div>
                </div>

            </ion-list>


        </div>
    </ion-content>
</ion-view>