<!--<div class="bar bar-header beauty-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
    <img src="images/icon-logo.png" class="small-icon" ui-sref="tab.home">
    <div class="title"> <h3>Stylist Detail</h3></div>
</div>-->
<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="view-background has-header stylest-detail">
        <div class="top-content">

            <div class="image-item">
                <img src="images/profile-pic.png">
                <div class="border-container"> </div>
            </div>
            <h3>Sayantan</h3>
            <div class="price">Pulse SPA</div>
            <p class="address">
                1/1B Upper Wood Street Kolkata,
                West Bengal
            </p>
        </div>
        <div class="bottom-container">
            <h4>Expertise</h4>
            <ion-list>
                <div class="row">
                    <div class="col col-10 align-right"><i class="icon ion-checkmark-round"></i></div>
                    <div class="col col-90">Clean Up, Cleansing, Skin Packs</div>
                </div>
                <div class="row">
                    <div class="col col-10 align-right"><i class="icon ion-checkmark-round"></i></div>
                    <div class="col col-90">Clean Up, Cleansing, Skin Packs</div>
                </div>
                <div class="row">
                    <div class="col col-10 align-right"><i class="icon ion-checkmark-round"></i></div>
                    <div class="col col-90">Clean Up, Cleansing, Skin Packs</div>
                </div>
            </ion-list>


        </div>
    </ion-content>
</ion-view>