<!--<div class="bar bar-header beauty-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
    <img src="images/icon-logo.png" class="small-icon" ui-sref="tab.home">
    <div class="title"> <h3>Favourite Stylists</h3></div>
</div>-->
<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="has-header stylist-list">
        <div class="list">
            <a class="item item-avatar" ui-sref="stylest({id: 1})">
                <img src="images/profile-pic.png">
                <h2>Venkman</h2>
                <h3>Yoon Hair Salon </h3>
                <p> <i class="icon ion-android-call"> </i>+(91)-33-33022321</p>
            </a>
            <a class="item item-avatar" ui-sref="stylest({id: 1})">
                <img src="images/profile-pic.png">
                <h2>Venkman</h2>
                <h3>Yoon Hair Salon </h3>
                <p> <i class="icon ion-android-call"> </i>+(91)-33-33022321</p>
            </a>
            <a class="item item-avatar" ui-sref="stylest({id: 1})">
                <img src="images/profile-pic.png">
                <h2>Venkman</h2>
                <h3>Yoon Hair Salon </h3>
                <p> <i class="icon ion-android-call"> </i>+(91)-33-33022321</p>
            </a>
            <a class="item item-avatar" ui-sref="stylest({id: 1})">
                <img src="images/profile-pic.png">
                <h2>Venkman</h2>
                <h3>Yoon Hair Salon </h3>
                <p> <i class="icon ion-android-call"> </i>+(91)-33-33022321</p>
            </a>
            <a class="item item-avatar" ui-sref="stylest({id: 1})">
                <img src="images/profile-pic.png">
                <h2>Venkman</h2>
                <h3>Yoon Hair Salon </h3>
                <p> <i class="icon ion-android-call"> </i>+(91)-33-33022321</p>
            </a>
            <a class="item item-avatar" ui-sref="stylest({id: 1})">
                <img src="images/profile-pic.png">
                <h2>Venkman</h2>
                <h3>Yoon Hair Salon </h3>
                <p> <i class="icon ion-android-call"> </i>+(91)-33-33022321</p>
            </a>
            <a class="item item-avatar" ui-sref="stylest({id: 1})">
                <img src="images/profile-pic.png">
                <h2>Venkman</h2>
                <h3>Yoon Hair Salon </h3>
                <p> <i class="icon ion-android-call"> </i>+(91)-33-33022321</p>
            </a>

        </div>
    </ion-content>
</ion-view>