<!--<div class="bar bar-header beauty-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
    <img src="images/icon-logo.png" class="small-icon" ui-sref="tab.home">
    <div class="title"> <h3>Favourite Stylists</h3></div>
</div>-->
<ng-include src="'templates/header.html'"></ng-include>
<ion-view>
    <ion-content class="has-header stylist-list history">

        <div class="list">

            <a class="item" ui-sref="stylest({id: item.id})" ng-repeat=" item in stylistList">
                <div class="user-img"><img ng-src="{{item.profile_image}}"></div>

                <div class="container">
                    <h2>{{item.name}}</h2>
                    <h3>{{item.saloon_name}}</h3>
                    <p> <i class="icon ion-android-call"> </i>{{item.phone}}</p>
                </div>

            </a>

        </div>
       <!-- <div class="list">
            <a class="item item-avatar" ui-sref="stylest({id: item.id})" ng-repeat=" item in stylistList">
                <img ng-src="{{item.profile_image}}">
                <h2>{{item.name}}</h2>
                <h3>{{item.saloon_name}}</h3>
                <p> <i class="icon ion-android-call"> </i>{{item.phone}}</p>
            </a>
        </div>-->

        <div class="no-data" ng-if="stylistList.length<1">
            <i class="iocn ion-social-instagram"></i>
            <h4>It is lonely here</h4>
            <p>
                All your shortlisted stylist will appear here.
            </p>
        </div>
    </ion-content>
</ion-view>