<ng-include src="'templates/header.html'"></ng-include>
<ion-view class="view-background checkin">
    <form novalidate name="accountForm" ng-submit="saveUser(accountForm)">
    <ion-content class="has-header has-footer padding">
        <div class="form-content padding">

                <div class="list card">
                    <label class="item item-input">
                        <input type="text" placeholder="Saloon/Spa name" name="saloon_name" ng-model="user.saloon_name" required>
                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="Address" name="address" ng-model="user.address" required>
                    </label>
                    <label class="item-input input-container">
                        <select name="city" ng-options="obj.city_name for obj in cityList track by obj.id" ng-model="user.city" ng-change="changeCity(user.city)" required>
                        </select>
                    </label>
                    <label class="item-input input-container">
                        <select name="locality" ng-options="obj.locality for obj in locality track by obj.id" ng-model="user.locality" required>
                        </select>
                    </label>
                    <label class="item item-input">
                        <input type="tel" placeholder="Pin Code" name="pin_code" ng-model="user.pin_code" required>
                    </label>
                </div>

                <a class="button button-full check-in" ng-click="uploadImage()">
                    <i class="ion-ios-camera"> </i>Take a Photo
                </a>
                <div class="text-center">
                    <img ng-if="imageURI==''" src="images/noimagesaloon.png" class="capture">
                    <img ng-if="imageURI!=''" src="{{imageURI}}" class="capture">
                </div>


        </div>

    </ion-content>
    <div class="bar bar-footer beauty-footer dark">
        <div class="title">
            <button class="button button-full">
                Submit
            </button>
        </div>
    </div>
    </form>
</ion-view>

