<div class="bar bar-header beauty-header">
    <button class="button button-icon icon ion-navicon"></button>
    <div class="title"> <img src="images/logo-inner.png"></div>
</div>

<ion-tabs class="tabs-striped tabs-top">

    <!-- Dashboard Tab -->
    <ion-tab title="Home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Today's Deals" href="#/tab/todaysdeals">
        <ion-nav-view name="tab-todays"></ion-nav-view>
    </ion-tab>
</ion-tabs>